@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: 'Roboto';
}

#header {
    background: url(./img/bg.png)no-repeat;
    background-size: cover;
    width: 100%;
    padding: 20px;
    height: 100%;
}

.header-navbar {
    background-color: transparent;
    border-color: transparent;
}

.navbar-li {
    border: 1px solid transparent;
}

header#header .navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 12px;
}

.header-button {
    background-color: transparent;
    border: 1px solid #fc6f6f;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 9px;
}

.header-button>a {
    color: #fc6f6f !important;
    text-decoration: none;
    font-size: 12px;
    padding: 0px !important;
}

.title-container {
    width: 60%;
    margin: 100px auto 0;
}

.header-title,
.header-content {
    color: white;
    text-align: center;
}

.header-title {
    font-size: 30px;
}

.header-search {
    width: 40%;
    margin: 50px auto 0 auto;
}

.search-text {
    width: 75%;
    height: 40px;
    border: transparent;
    border-radius: 20px 0 0 20px;
    font-size: 12px;
    padding-left: 25px;
}

.search-submit {
    width: 25%;
    height: 40px;
    margin-left: -5px;
    border: transparent;
    border-radius: 0 20px 20px 0;
    font-size: 12px;
    background: #fc6f6f;
    color: white;
}

.header-user {
    width: 300px;
    margin: 80px auto 0;
}

.header-user>div {
    background: white;
    border-radius: 20px;
    position: relative;
    font-size: 12px;
}

.header-user>div>p {
    margin: 0%;
}

.user-left {
    left: -50px;
    padding: 15px 15px 15px 30px;
    margin-bottom: 20px;
}

.user-left img {
    position: absolute;
    width: 60px;
    top: 0;
    left: -35px;
}

.user-right {
    right: -50px;
    padding: 15px 30px 15px 15px;
}

.user-right img {
    position: absolute;
    width: 60px;
    top: 0;
    right: -35px;
}

.main-container {
    width: 70%;
    margin: auto;
}

#main {
    padding-top: 100px;
}

.analize-graphik img {
    width: 100%;
}

.analyze-content {
    padding: 0px 30px;
}

.title-content {
    position: relative;
    font-size: 30px;
    width: 80%;
}

.title-content-line {
    position: absolute;
    left: -2px;
    bottom: -25px;
    width: 45px;
}

.title-content-line img {
    width: 100%;
}

.analyze-content p {
    padding: 20px 0 0 0;
    margin: 0 0 15px;
    color: gray;
    width: 80%;
}

.analyze-content a {
    color: #fc6f6f;
}

.data-sources {
    clear: both;
    display: table;
    width: 100%;
    position: relative;
    margin: 15px 0;
}

.external {
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.external h3,
.company h3 {
    margin: 0;
    font-size: 30px;
}

.company {
    float: right;
    width: 50%;
    padding: 0 0 0 10px;
    border-left: 2px solid lightgray;
    box-sizing: border-box;
}

.external p,
.company p {
    font-size: 12px;
    padding: 0;
    margin: 0%;
}

.main-line {
    margin: 100px 0;
    text-align: center;
}

.main-line img {
    width: 90%;
}

.find-content {
    padding: 0 50px;
}

.find-content p {
    padding: 20px 0 0 0;
    margin: 0 0 25px;
    color: gray;
    width: 79%;
}

.find-button {
    width: 120px;
    background: #fc6f6f;
    color: white;
    border-radius: 20px;
    border-color: #fc6f6f;
    font-size: 10px;
    padding: 5px;
}

.find-graphik img {
    width: 100%;
}

.tips-graphik img {
    width: 100%;
}

.tips-content {
    padding: 0px 30px;
}

.title-content-tips {
    width: 75%;
}

.tips-content p {
    padding: 20px 0 0 0;
    margin: 0 0 15px;
    color: gray;
}

.competitive-header-container {
    width: 350px;
    margin: auto;
}

.competitive-header {
    text-align: center;
    font-size: 30px;
}

.competitive-header-text {
    text-align: center;
    font-size: 12px;
    color: gray;
    padding: 10px 0 30px;
}

.competitive-image img {
    width: 100%;
}

.competitive-content-container {
    margin: 40px auto 100px;
    border-bottom: 2px solid lightgray;
}

.competitive-content {
    position: relative;
    padding: 0 20px 20px 50px;
    margin-top: 10px;
}

.competitive-content img {
    position: absolute;
    width: 40px;
    top: 0;
    left: 0;
}

.competitive-content h4 {
    font-size: 14px;
    margin-top: 0;
}

.competitive-content p {
    font-size: 12px;
    color: gray;
}

.main-integration {
    background: #e9e9e9;
    padding: 80px 0;
}

.integration-content-header {
    margin: 30px 0 20px;
    font-size: 30px;
}

.integration-text {
    width: 65%;
}

.integration-text-normal {
    font-size: 14px;
    color: gray;
}

.integration-content-line {
    height: 2px;
    background: gray;
    margin: 20px 0;
}

.integration-text-italic {
    font-size: 14px;
}

.integration-content-footer {
    display: table-cell;
    padding: 8px 0 0 0;
}

.integration-footer-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: gray;
    display: table-cell;
}

.integration-footer-content {
    display: table-cell;
}

.integration-footer-header {
    font-size: 12px;
    margin: 5px 0 0 10px;
}

.integration-footer-text {
    font-size: 12px;
    color: gray;
    margin: 0 0 0 10px;
}

.intagration-image img {
    width: 100%;
}

.main-increasing {
    padding: 80px 0;
}

.increasing-content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

.increasing-header {
    font-size: 30px;
    margin: 0;
}

.increasing-text {
    margin: 20px 0 25px;
    color: gray;
}

.increasing-button {
    width: 120px;
    background: #fc6f6f;
    color: white;
    border-radius: 20px;
    border-color: #fc6f6f;
    font-size: 10px;
    padding: 5px;
}

.increasing-image img {
    width: 100%;
}

#footer {
    background: #e9e9e9;
    padding: 30px;
}

.service img {
    width: 20px;
}

.footer-content-container {
    display: table;
    width: 100%;
    height: 50px;
}

.footer-content {
    display: table-cell;
    vertical-align: bottom;
    width: 33.3333333%;
}

.footer-content span {
    width: 70%;
}

.footer-content span,
.policy span {
    font-size: 12px;
    color: gray;
}

.footer-content-center {
    text-align: center;
}

.footer-content-last {
    text-align: right;
}

.service {
    opacity: 30%;
    padding-bottom: 5px;
}

.policy>:first-child {
    margin-right: 10px;
}

@media (max-width:1200px) {
    .title-container {
        width: 65%;
    }

    .title-content,
    .analyze-content p {
        width: 100%;
    }

    .main-container {
        width: 75%;
    }

    .analyze-content p {
        margin-bottom: 10px;
    }

    .data-sources {
        margin: 10px 0;
    }

    .find-content {
        padding: 0;
    }

    .integration-content-header {
        margin-top: 0;
        font-size: 25px;
    }

    .integration-text {
        width: 80%;
    }

}

@media (max-width:992px) {
    .title-container {
        width: 85%;
        margin: 50px auto 0;
    }

    .header-search {
        width: 50%;
    }

    .header-user {
        margin: 50px auto 0;
    }

    #main {
        padding-top: 50px;
    }

    .main-container {
        width: 90%;
    }

    .analyze-content {
        padding: 0px 20px;
    }

    .analyze-content p {
        font-size: 15px;
    }

    .title-content {
        font-size: 25px;
        width: 80%;
    }

    .title-content-line {
        bottom: -20px;
    }

    .external h3,
    .company h3 {
        font-size: 25px;
    }

    .external p,
    .company p {
        font-size: 13px;
    }

    .find-content p {
        width: 100%;
        font-size: 15px;
    }

    .tips-content p {
        padding-right: 5px;
        font-size: 14px;
    }

    .main-line {
        margin: 50px 0;
    }

    .main-line img {
        width: 100%;
    }

    .competitive-content-container {
        margin-bottom: 50px;
        border-bottom: none;
    }

    .competitive-header {
        font-size: 25px;
    }

    .competitive-content {
        border-bottom: 2px solid lightgray;
    }

    .main-integration {
        padding: 50px 0;
    }

    .integration-content-header {
        font-size: 25px;
        margin: 20px 0;
    }

    .integration-content-line {
        margin: 10px 0;
    }

    .main-increasing {
        padding: 50px 0;
    }

    .increasing-content {
        padding-bottom: 30px;
    }

    .increasing-header {
        font-size: 25px;
    }

    .increasing-text {
        margin: 10px 0 15px;
    }
}

@media (max-width:768px) {
    .navbar-container {
        width: 100%;
    }

    .title-container {
        width: 90%;
        margin-top: 30px;
    }

    .header-search {
        width: 90%;
    }

    .header-user {
        width: 230px;
        margin: 30px auto 0;
    }

    #main {
        padding-top: 50px;
    }

    .title-content {
        font-size: 25px;
    }

    .title-content-line {
        bottom: -20px;
    }

    .analyze-content p {
        font-size: 14px;
    }

    .external h3,
    .company h3 {
        font-size: 20px;
    }

    .external p,
    .company p {
        font-size: 12px;
    }

    .find-content {
        padding: 0 25px;
    }

    .competitive-content-container {
        margin-bottom: 30px;
        border-bottom: none;
    }

    .competitive-content {
        border-bottom: 2px solid lightgray;
    }

    .competitive-header {
        font-size: 25px;
    }

    .find-content p {
        font-size: 14px;
    }

    .main-integration {
        padding: 30px 0;
    }

    .integration-content-header {
        margin: 20px 0;
        font-size: 25px;
    }

    .integration-content-line {
        margin: 10px 0;
    }

    .main-line {
        margin: 30px 0;
    }

    .main-increasing {
        padding: 30px 0;
    }

    .increasing-content {
        padding-bottom: 30px;
    }

    .increasing-text {
        margin: 10px 0 15px;
    }

    #footer {
        padding: 20px;
    }

    .footer-content span,
    .policy span {
        font-size: 10px;
    }

    .service img {
        width: 15px;
    }

    .footer-content span {
        display: block;
        width: 100%;
    }

    #footer .policy span {
        margin-right: 0;
        display: block;
        width: 100%;
    }
}

@media (max-width:425px) {
    .header-title {
        font-size: 25px;
    }

    .header-content {
        font-size: 14px;
    }

    .header-search {
        width: 100%;
    }

    .user-left {
        left: -30px;
    }

    .user-right {
        right: -25px;
    }

    .intagration-image {
        padding-top: 20px;
    }

    .main-line {
        margin: 10px 0;
    }

    .title-content {
        font-size: 20px;
    }

    .analyze-content {
        padding: 20px 20px 0;
    }

    .find-content {
        padding: 10px 20px 20px;
    }

    .tips-content {
        padding: 20px;
    }

    .competitive-header-container {
        width: 90%;
    }

    .competitive-header {
        font-size: 20px;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-content-container {
        height: 100%;
    }

    .footer-content {
        display: block;
        padding: 10px 0;
        width: 65%;
        text-align: center;
        margin: auto;
    }

    .service img {
        width: 30px;
    }
}