@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
}

#header {
    background: url(./img/bg.png)no-repeat;
    background-size: cover;
    width: 100%;
    padding: 20px;
    height: 100%;
}


.navbar-container {
    width: 90%;
    margin: auto;
}

.header-navbar {
    background-color: transparent;
    border-color: transparent;
}

.navbar-li {
    border: 1px solid transparent;
}

header#header .navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 12px;
}

.header-button {
    background-color: transparent;
    border: 1px solid #fc6f6f;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 9px;
}

.header-button>a {
    color: #fc6f6f !important;
    text-decoration: none;
    font-size: 12px;
    padding: 0px !important;
}

.title-container {
    width: 46%;
    margin: auto;
}

.header-title,
.header-content {
    color: white;
    text-align: center;
}

.header-title {
    font-size: 30px;
    margin-top: 100px;
}

.header-search {
    width: 33%;
    margin: 50px auto 0 auto;
}

.search-text {
    width: 75%;
    height: 40px;
    border: transparent;
    border-radius: 20px 0 0 20px;
    font-size: 12px;
    padding-left: 25px;
}

.search-submit {
    width: 25%;
    height: 40px;
    margin-left: -5px;
    border: transparent;
    border-radius: 0 20px 20px 0;
    font-size: 12px;
    background: #fc6f6f;
    color: white;
}

.header-user {
    width: 19%;
    margin: 80px auto 0;
}

.header-user>div {
    background: white;
    border-radius: 20px;
    position: relative;
    font-size: 12px;
}

.header-user>div>p {
    margin: 0%;
}

.user-left {
    left: -50px;
    padding: 15px 15px 15px 30px;
    margin-bottom: 20px;
}

.user-left img {
    position: absolute;
    width: 60px;
    top: 2.5px;
    left: -35px;
}

.user-right {
    right: -50px;
    padding: 15px 30px 15px 15px;
}

.user-right img {
    position: absolute;
    width: 60px;
    top: 2.5px;
    right: -35px;
}

.main-container {
    width: 70%;
    margin: auto;
}

#main {
    padding-top: 100px;
}

.analize-graphik img {
    width: 100%;
}

.analyze-content {
    padding: 0px 65px;
}

.title-content {
    position: relative;
    font-size: 30px;
}

.title-conten-line {
    position: absolute;
    left: -2px;
    bottom: -25px;
    width: 45px;
}

.title-conten-line img {
    width: 100%;
}

.analyze-content p,
.tips-content p {
    padding: 20px 0 0 0;
    margin: 0 0 15px;
    color: gray;
}

.analyze-content a {
    color: #fc6f6f;
}

.data-sources {
    clear: both;
    display: table;
    width: 100%;
    position: relative;
    margin: 15px 0;
}

.external {
    float: left;
}

.external h3,
.company h3 {
    margin: 0;
    font-size: 30px;
}

.company {
    float: right;
}

.external p,
.company p {
    font-size: 12px;
    padding: 0;
    margin: 0%;

}

.sources-line {
    width: 2px;
    height: 100%;
    position: absolute;
    background: lightgray;
    top: 0;
    left: 50%;
}

.main-line {
    margin: 100px 0;
}

.main-line img {
    width: 100%;
}

.find-content {
    padding: 0 50px;
}

.find-content p {
    padding: 20px 0 0 0;
    margin: 0 0 25px;
    color: gray;
    width: 79%;

}

.find-button {
    width: 120px;
    background: #fc6f6f;
    color: white;
    border-radius: 20px;
    border-color: #fc6f6f;
    font-size: 10px;
    padding: 5px;
}

.find-graphik img {
    width: 100%;
}

.tips-graphik img {
    width: 100%;
}

.tips-content {
    padding: 0px 72px;
}


.competitive-header-container {
    width: 40%;
    margin: auto;
}

.competitive-header {
    text-align: center;
    font-size: 30px;
}

.competitive-header-text {
    text-align: center;
    font-size: 12px;
    color: gray;
    padding: 10px 0 30px;
}

.competitive-image img {
    width: 100%;
}

.competitive-content-container {
    margin: 40px auto 100px;
}

.competitive-content {
    display: inline-block;
    width: 33%;
    position: relative;
    padding: 0 40px 0 50px;
}

.competitive-content img {
    position: absolute;
    width: 40px;
    top: 0;
    left: 0;
}

.competitive-content h4 {
    font-size: 14px;
    margin-top: 0;
}

.competitive-content p {
    font-size: 12px;
    color: gray;
}

.competitive-content-first,
.competitive-content-last {
    border-bottom: 1px solid lightgray;
}

.main-integration {
    background: #e9e9e9;
    padding: 80px 0;
}

.integration-content {}

.integration-content-header {
    margin-top: 35px;
}

.integration-text {
    width: 60%;
}

.integration-text-normal {
    font-size: 14px;
    color: gray;
}

.integration-content-line {
    height: 2px;
    background: gray;
    margin: 20px 0;
}

.integration-text-italic {
    font-size: 14px;
}

.integration-content-footer {
    position: relative;
    padding: 8px 0 0 50px;

}

.integration-footer-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: gray;
    position: absolute;
    top: 0;
    left: 0;
}

.integration-footer-header {
    font-size: 12px;
    margin: 0;
}

.integration-footer-text {
    font-size: 12px;
    color: gray;
    margin: 0;
}

.intagration-image img {
    width: 100%;
}

.main-increasing {
    padding: 80px 0;
}

.increasing-content {
    width: 80%;
    margin: auto;
    text-align: center;

}

.increasing-header {
    font-size: 30px;
    margin: 0;
}

.increasing-text {
    margin: 20px 0 25px;
    color: gray;
}

.increasing-button {
    width: 120px;
    background: #fc6f6f;
    color: white;
    border-radius: 20px;
    border-color: #fc6f6f;
    font-size: 10px;
    padding: 5px;
    margin-bottom: 50px;
}

.increasing-image img {
    width: 100%;
}

#footer {
    background: #e9e9e9;
}